.edu{
  background-color: #191947;
  text-align: center;
  padding: 1rem;
  color: aliceblue;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
}
#ed {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
}
